<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.name}}"
      placeholder="Name"
      name="name"
    />
    <label for="floatingInput">Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.stok}}"
      placeholder="1.."
      name="stok"
    />
    <label for="floatingInput">Stok</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.image}}"
      placeholder="image url"
      name="image"
    />
    <label for="floatingInput">Image URL</label>
  </div>
</div>
<div class="col-12">
  <div class="form-floating mb-3">
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="deskripsi"
      name="deskripsi"
      style="height: 200px"
    >{{this.deskripsi}}</textarea>
    <label for="deskripsi">Description</label>
  </div>
</div>
<div class="col-12">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.category_id}}"
      placeholder="category"
      name="category_id"
    />
    <label for="category_id">Category_id</label>
  </div>
</div>
<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>